* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: blanchedalmond;
  padding: 50px 100px;
}
a {
  color: black;
  text-decoration: none;
}
.name1 {
  color: rgb(61, 61, 83);
}
h2 {
  color: rgb(48, 143, 226);
  padding: 20px 0;
}
hr {
  margin: 5px;
}
